# Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/*
!.vscode/extensions.json

# Angular
.angular/
.angular/cache/

# Node
node_modules/
dist/

# IDE
.vs/
*.vsidx
*.suo

# OS
Thumbs.db
.DS_Store

# Env
.env